{% extends "components/base.html" %}

{% block content %}
    
    <div class="product-list row pt-5">

        {% for product in products %}
          <div class="card p-3" style="width: 18rem;">    
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="{{ url_for('product_detail_page', pk=product.id) }}" class="btn btn-primary">See More</a>
              </div>
          </div>
        {% endfor %}

{% endblock content %}
